header {
  background-color: beige;
  padding: 15px;
}

h1 {
  text-decoration: underline;
  text-align: center;
}

h2 {
  text-align: center;
}

textarea {
  height: 300px;
  width: 100%;

}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* .container {
  padding: 16px;
} 

.invoice_creator {
  text-align: center;
} */

input[type=text], input[type=password], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#jwt {
  display: none;
}
