<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>API Create Invoice</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <header>
      <h1>API Create Invoice</h1>
      <nav>

      </nav>
    </header>

    <h2>Display Invoice</h2>

    <form class="Send_invoice" method="">

      <label for="email"><b>Send Invoice to:</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <button type="submit">Send</button>
    </form>

  </body>
</html>