<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>API Create Invoice</title>
    <link rel="stylesheet" href="old_style.css" type="text/css">
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="{{ url_for('home_page') }}"><img src="images/Logo.jpg" style="width: 125px" alt="Cupcake Logo"></a>
          <a href="{{ url_for('home_page') }}">About</a>
          <a href="{{ url_for('home_page') }}">Join</a>
          <a href="{{ url_for('home_page') }}">Account</a>
          <a href="{{ url_for('home_page') }}">Logout</a>
        </div>
      </nav>
    </header>

    <div class="container">

      <h2>Display Invoice</h2>
      
      <div class="center">
        <embed class="invoice_pdf" src="{{ url_for('static', filename='example_invoice.pdf') }}" type="application/pdf">
      </div>

      <form class="Send_invoice" action="{{ url_for('send_invoice') }}" method="post">

        <label for="email"><b>Send Invoice to:</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <input type='text' value='{{ token }}' name='JWTToken' id='jwt'>

        <button type="submit">Send</button>
      </form>

    </div>
  </body>
</html>