<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>API Create Invoice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="logo">
      <img src="{{url_for('static', filename='images/Logo.jpg')}}" style="width: 125px">
      <p style="font-family: 'Montserrat', sans-serif">InvoiceCupcake</p>
    </div>

    <div class="login">
      <div class="app_image">
        <div class="about_title">
          About Us
        </div>
        <div class="about">
          With the rise of e-invoices, more organizations have started using them and some countries make it mandatory to use e-invoices for payments.
          <p>At team InvoiceCupcake our goal is to provide e-invoice servies to individuals and small businesses such as soletraders, partnerships and SMEs.</p>
        </div>
      </div>
      <div class="login_wrap">
        <form class="login_details" action="{{ url_for('user_login') }}" method="post">
          <!-- Login Section --> 
          <h2 class="login_title">
            LOGIN
          </h2>
  
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email Address" name="email" required>
  
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
  
          <button type="login_button">Login</button>
        </form>
        
        <label>Dont have an Account?</label>
        <button type="register_button"><a href="{{ url_for('register_page') }}">Register</a></button>
      </div>

    </div>
  </body>
</html>
