<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>API Create Invoice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" type="text/css">
  </head>

  <body>
    <header>
      <h1>API Create Invoice</h1>
    </header>

    <h2>Create Invoice</h2>

    <form class="Invoice" action="{{ url_for('create_xml_route') }}" method="post">
      <!-- Register Section -->
      <div type='container'>
        <label for="email"><b>Email:</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <br>

        <div type='invoice_creator'>
          <label><b>Allowance Charge</b></label>
          <input type="text" placeholder="ChargeIndicator" name="ChargeIndicator">
          <input type="text" placeholder="AllowanceChargeReason" name="AllowanceChargeReason">
          <input type="number" placeholder="Amount" name="Amount">

          <label><b>Tax Category</b></label>
          <input type="text" placeholder="TaxCategoryID" name="TaxCategoryID">
          <input type="number" placeholder="Percent" name="Percent">

          <label><b>Tax Scheme</b></label>
          <input type="text" placeholder="TaxSchemeID" name="TaxSchemeID">

          <label><b>Legal Monetary Total</b></label>
          <input type="number" placeholder="LineExtensionAmount" name="LineExtensionAmount">
          <input type="number" placeholder="TaxExclusiveAmount" name="TaxExclusiveAmount">
          <input type="number" placeholder="TaxInclusiveAmount" name="TaxInclusiveAmount">
          <input type="number" placeholder="ChargedTotalAmount" name="ChargedTotalAmount">
          <input type="number" placeholder="PayableAmount" name="PayableAmount">

          <label><b>Invoice Line</b></label>
          <input type="text" placeholder="InvoiceLineID" name="InvoiceLineID">
          <input type="text" placeholder="InvoicedQuantity" name="InvoicedQuantity">
          <input type="text" placeholder="LineExtensionAmount" name="LineExtensionAmount">
          <input type="text" placeholder="PriceAmount" name="PriceAmount">
        </div>

        <button type="submit">Create</button>
      </div>

    </form>

  </body>
</html>
