<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>API Create Invoice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" type="text/css">
  </head>

  <body>
    <header>
      <h1>API Create Invoice</h1>
    </header>

    <h2>Create Invoice</h2>

    <form class="Invoice" action="{{ url_for('create_xml_route') }}" method="post">
      <!-- Register Section -->
      <div type='container'>
        <label for="email"><b>Email:</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="data"><b>Data:</b></label>
        <textarea name="name" placeholder="Enter the Data in this format:" required></textarea>


        <button type="submit">Create</button>
      </div>

    </form>

  </body>
</html>
