<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>API Create Invoice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <h1>API Create Invoice</h1>
    </header>

    <h2>Create Invoice</h2>

    <form class="Invoice" action="{{ url_for('create_xml_route') }}" method="post">
      <!-- Register Section -->
      <div type='container'>
        <div type='invoice_creator'>
          <label><b>Allowance Charge</b></label>
          <input type="text" placeholder="ChargeIndicator" name="ChargeIndicator">
          <input type="text" placeholder="AllowanceChargeReason" name="AllowanceChargeReason">
          <input type="number" placeholder="Amount" name="Amount">

          <label><b>Tax Category</b></label>
          <input type="text" placeholder="TaxCategoryID" name="TaxCategoryID">
          <input type="number" placeholder="Percent" name="Percent">

          <label><b>Tax Scheme</b></label>
          <input type="text" placeholder="TaxSchemeID" name="TaxSchemeID">

          <label><b>Legal Monetary Total</b></label>
          <input type="number" placeholder="LineExtensionAmount" name="LineExtensionAmount">
          <input type="number" placeholder="TaxExclusiveAmount" name="TaxExclusiveAmount">
          <input type="number" placeholder="TaxInclusiveAmount" name="TaxInclusiveAmount">
          <input type="number" placeholder="ChargedTotalAmount" name="ChargedTotalAmount">
          <input type="number" placeholder="PayableAmount" name="PayableAmount">

          
          <label><b>Invoice Line 1</b></label>
          <div class="input-wrapper">
            <div>
              <input type="text" placeholder="InvoiceLineID" name="id_field[]" value="" required/>
              <input type="text" placeholder="InvoicedQuantity" name="quantity_field[]" value="" required/>
              <input type="text" placeholder="LineExtensionAmount" name="amount_field[]" value="" required/>
              <input type="text" placeholder="PriceAmount" name="price_field[]" value="" required/>
              <a href="javascript:void(0);" class="add-input" title="Add input">ADD</a>
            </div>
          </div>

          <input type='text' value='{{ token }}' name='JWTToken' id='jwt'>
        </div>

        <button type="submit" name="cmdsubmit">Create</button>
      </div>

    </form>
     
    <script>
      $(document).ready(function(){
          var max_input_fields = 10;
          var add_input = $('.add-input');
          var input_wrapper = $('.input-wrapper');
          //var new_input = '<div><input type="text" name="field[]" value=""/><a href="javascript:void(0);" class="remove-input" title="Remove input">REMOVE</a></div>';
          var new_input_id = '<div><input type="text" placeholder="InvoiceLineID" name="id_field[]" value="" required/>';
          var new_input_quantity = '<input type="text" placeholder="InvoicedQuantity" name="quantity_field[]" value="" required/>';
          var new_input_amount = '<input type="text" placeholder="LineExtensionAmount" name="amount_field[]" value="" required/>';
          var new_input_price = '<input type="text" placeholder="PriceAmount" name="price_field[]" value="" required/></div>';
          var add_input_count = 1; 
          $(add_input).click(function(){
              if(add_input_count < max_input_fields){
                  add_input_count++; 
                  $(input_wrapper).append('<label><b>Invoice Line ' + add_input_count + '</b></label>'); 
                  $(input_wrapper).append(new_input_id); 
                  $(input_wrapper).append(new_input_quantity); 
                  $(input_wrapper).append(new_input_amount); 
                  $(input_wrapper).append(new_input_price); 
              }
          });
          $(input_wrapper).on('click', '.remove-input', function(e){
              e.preventDefault();
              $(this).parent('div').remove();
              add_input_count--;
          });
      });
      </script>
  </body>
</html>
