<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>API Create Invoice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" type="text/css">
  </head>

  <body>
    <header>
      <h1>API Create Invoice</h1>
      <nav>
        
      </nav>
    </header>

    <h2>Invoice was successfully sent to {{ email }}</h2>

    <form action="{{ url_for('create_invoice_page') }}" method="post">
        <input type='text' value='{{ token }}' name='JWTToken' id='jwt'>
        <p>Want to create another invoice?   <input type='submit' value='Create Invoice'></p>
    </form>
  </body>
</html>
