<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>API Create Invoice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/old_style.css') }}" type="text/css">
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <h1>API Create Invoice</h1>
          <a href="{{ url_for('home_page') }}"><img src="{{url_for('static', filename='images/Logo.jpg')}}" alt="Cupcake Logo"></a>
          <a href="{{ url_for('home_page') }}">About</a>
          <a href="{{ url_for('home_page') }}">Join</a>
          <a href="{{ url_for('home_page') }}">Account</a>
          <a href="{{ url_for('home_page') }}">Logout</a>
        </div>
      </nav>
    </header>

    <div class="container">
      <h2>Invoice was successfully sent to {{ email }}</h2>

      <form action="{{ url_for('create_invoice_page') }}" method="post">
          <input type='text' value='{{ token }}' name='JWTToken' id='jwt'>
          <p>Want to create another invoice?   <input type='submit' value='Create Invoice'></p>
      </form>
    </div>
  </body>
</html>
